.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
}

.about_title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  color: var(--primary-color);
  border-bottom: 2px solid var(--secondary-color);
}

.aboutInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.aboutImg_container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.about_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info_container {
  max-width: 600px;
}

.p_container h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.p_container p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.experience_contain {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.experience {
  width: 200px;
  border-radius: 10px;
  background-color: #f1f5f9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bolder;
  color: var(--light-text);
  gap: 10px;
  padding: 10px;
}

.experience img {
  width: 30px;
}

.service {
  border-radius: var(--border-radius);
  padding: 20px;
  width: 500px;
  transition: var(--transition);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.service img {
  width: 100px;
  margin-bottom: 20px;
}

.service h3 {
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.service p {
  font-size: 16px;
  color: var(--text-color);
  line-height: 1.5;
}

@media (max-width: 1024px) {
  .aboutInfo {
    flex-direction: column;
    gap: 30px;
  }

  .aboutImg_container {
    width: 150px;
    height: 150px;
  }

  .info_container {
    max-width: 100%;
  }

  .p_container h3 {
    font-size: 20px;
  }

  .p_container p {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .about {
    height: auto;
    padding: 30px 20px;
  }

  .about_title {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .aboutImg_container {
    width: 120px;
    height: 120px;
  }

  .p_container h3 {
    font-size: 18px;
  }

  .p_container p {
    font-size: 12px;
  }

  .experience_contain {
    flex-direction: column;
    align-items: center;
  }

  .experience {
    width: 100%;
    max-width: 300px;
  }

  .service {
    width: 100%;
    max-width: 400px;
  }
}

@media (max-width: 480px) {
  .about {
    margin-top: 50px;
  }
  .about_title {
    font-size: 24px;
  }

  .aboutImg_container {
    width: 200px;
    height: 200px;
  }

  .p_container h3 {
    font-size: 24px;
  }

  .p_container p {
    font-size: 18px;
  }

  .experience {
    max-width: 250px;
  }

  .service img {
    width: 80px;
  }

  .service h3 {
    font-size: 20px;
  }

  .service p {
    font-size: 14px;
  }
}
